<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4" *ngFor="let cha of listOfFavChallenge">
      <a [routerLink]="['/detail'+cha.categories+'/'+cha.chaId]" routerLinkActive='active' class="card-link">
        <div class="card card-inverse card-info">
          <img class="card-img-top img-fluid" src="{{cha.imgSRC}}">
          <div class="card-block">
            <div class="card-text">
              <span class="chaName">{{cha.chaName}}</span>
              <br>
              <span>
                <small>created on {{cha.date}} when {{cha.time}}</small>
              </span>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
  <br>
</div>