<nav class="navbar sticky-top navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
    aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" routerLink="/">LYRA</a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/']"><span class="nav-font-color">Categories</span></a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
    </form>
    <ul class="navbar-nav my-2 my-lg-0">
      <li class="nav-item">
        <a *ngIf="(af.auth | async)" class="nav-link" [routerLink]="['/mychallenge']"><span class="nav-font-color">My Challenge</span></a>
      </li>
    </ul>
    <ul class="navbar-nav my-2 my-lg-0">
      <li *ngIf="!(af.auth | async)" class="nav-item active">
        <a class="nav-link" (click)="login()"><span class="nav-font-color">Login</span></a>
      </li>
      <li class="nav-item active">
        <a *ngIf="(af.auth | async)" class="nav-link" (click)="logout()"><span class="nav-font-color">Logout</span></a>
      </li>
    </ul>
  </div>
</nav>