<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          {{detailMyChallenge.challengeName}}
        </div>
        <div class="card-block">
          <div class="row">
            <div class="col-sm-5">
              <h4 class="card-title">{{detailMyChallenge.challengeName}}</h4>
              <p class="card-text">{{detailMyChallenge.challengeDescription}}</p>
              <p class="card-text">Time : {{detailMyChallenge.duration}} Days</p>
              <p class="card-text">Total : {{detailMyChallenge.totalAmount}} Baht</p>
              <p class="card-text">Status : {{detailMyChallenge.challengeStatus}}<br>
                <span *ngIf="detailMyChallenge.challengeStatus != 'Achieved'">
            <h5><span class="badge badge-default">{{percent | number:'1.0-0'}}%</span></h5>
                </span>
                <span *ngIf="detailMyChallenge.challengeStatus == 'Achieved'">
            <h5><span class="badge badge-success">{{percent | number:'1.0-0'}}% Success</span></h5>
                </span>
              </p>
              <div class="row">
                <div class="col-sm-6">
                  <span *ngIf="detailMyChallenge.challengeStatus == 'Achieved'">
                    <a class="btn btn-success btn-add disabled" aria-disabled="true">
                      <i class="fa fa-dollar fa-lg" aria-hidden="true"></i> Add Money
                    </a>
                  </span>
                  <span *ngIf="detailMyChallenge.challengeStatus != 'Achieved'">
                    <a [routerLink]="['/addmoney/'+detailMyChallenge.$key]" class="btn btn-success btn-add">
                      <i class="fa fa-dollar fa-lg" aria-hidden="true"></i> Add Money
                    </a>
                  </span>
                  <br><br>
                </div>
                <div class="col-sm-6">
                  <span class="delete">
                    <a (click)="onDeleteChallenge()" role="button" class="btn btn-danger btn-delete">
                      <i class="fa fa-trash-o fa-lg" aria-hidden="true"></i> Delete Challenge
                    </a>
                  </span>
                  <br><br>
                </div>
              </div>
            </div>
            <div class="col-sm-7">
              <img src="http://cdn1-www.dogtime.com/assets/uploads/gallery/shiba-inu-dog-breed-picutres/8-side.jpg" class="img-fluid rounded"
                alt="Responsive image">
              <img src="{{imageUrl}}" class="img-fluid">
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12" align="center">
      <br>
      <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
          <i class="fa fa-eye fa-lg" aria-hidden="true"></i> View Transactions
          </a>
      <a [routerLink]="['/mychallenge']" class="btn btn-danger">
            <i class="fa fa-chevron-left fa-lg" aria-hidden="true"></i> Back
        </a>
      <br>
    </div>
  </div>
  <br />
  <div class="collapse" id="collapseExample">
    <div class="card card-block">
      <div class="row">
        <div class="col-sm-11" align="center">
          <h3>Transactions</h3>
        </div>
        <div class="col-sm-1">
          <button type="button" class="close" aria-label="Close" data-toggle="collapse" href="#collapseExample" aria-expanded="false"
            aria-controls="collapseExample">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>No.</th>
            <th>Date</th>
            <th>Balance</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cha of detailTransaction; let i=index;">
            <th>{{i+1}}</th>
            <th>{{cha.datetimestamp}}</th>
            <th>{{cha.balance | currency:'THB':true:'1.2-2'}}</th>
            <th>
              <span *ngIf="detailMyChallenge.challengeStatus != 'Achieved'">
                <a (click)="onDeleteTransaction(cha.$key)" role="button" class="btn btn-danger">
                      <i class="fa fa-trash-o fa-lg" aria-hidden="true"></i>
                    </a>
              </span>
            </th>
              
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <br>
</div>