.card{
    font-size: 1em;
    overflow: hidden;
    padding: 0;
    border: solid 1px;
    background-color: white;
    border: none;
    border-radius: .28571429rem;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
    box-shadow: 0 6px 15px rgba(36,37,38,0.08);
    border-radius: 1.285714rem;
}
.detailcard{
    padding-top: 80px;
}
thead{
    background-color: #378d3b;
}
.close{
    text-align: right;
}
.btn-add{
    width: 100%;
}
.delete{
    color: #FFFFFF;
}
.btn-delete{
    width: 100%;
}
.tran{
    text-align: center;
}
.No{
    width: 10%;
}
.Date{
    width: 25%;
}
.Time{
    width: 30%;
}
.Balance{
    width: 35%;
}
table{
    font-size: 10pt;
}
.Transaction{
    width: 100%;
    text-align: center;
}
.Tran{
    width: 95%;
}
.x{
    width: 5;
    padding-right: 3px;
}
.detailcontent{
    padding-left: 10px;
    padding-right: 10px;
}
.chaName{
    color: #14AE4E;
}
