.container{
    margin-top: 90px;
}
.card{
    border: solid 1px;
    border-color: #378d3b; 
}
.card-header{
    background-color: #378d3b;
    color: white;
    text-align: center;
}
thead{
    background-color: #378d3b;
}
.close{
    text-align: right;
}
.btn-add{
    width: 100%;
}
.delete{
    color: #FFFFFF;
}
.btn-delete{
    width: 100%;
}
.tran{
    text-align: center;
}
.No{
    width: 10%;
}
.Date{
    width: 25%;
}
.Time{
    width: 30%;
}
.Balance{
    width: 35%;
}
table{
    font-size: 10pt;
}
.Transaction{
    width: 100%;
    text-align: center;
}
.Tran{
    width: 95%;
}
.x{
    width: 5;
    padding-right: 3px;
}