<div *ngIf="detailMyChallenge">
  <div class="container">
    <div class="row detailcard">
      <div class="col-sm-1 col-md-2 col-lg-3 flex-first"></div>
      <div class="col-sm-1 col-md-2 col-lg-3 flex-last"></div>
      <div class="col-sm-10 col-md-8 col-lg-6">
        <div class="card card-info">
          <img src="{{imgURL}}" class="card-img-top img-fluid">
          <div class="card-block">
            <h3 class="card-title chaName">
              <b>{{detailMyChallenge.challengeName}}</b>
            </h3>
            <div class="card-text">

              {{detailMyChallenge.challengeDescription}}
              <br>Duration(days) : {{detailMyChallenge.duration}} Days
              <br>Goal Amount : {{detailMyChallenge.totalAmount | currency:'THB':true:'1.0-0'}} Baht
              <br>Total Amount : {{currentBalance | currency:'THB':true:'1.0-0'}} Baht
              <br>Status : {{detailMyChallenge.challengeStatus}}
              <br>Start Date: {{startDate}}
              <br>
              <span *ngIf="detailMyChallenge.challengeStatus != 'Achieved'">
                    <h5><span class="badge badge-default">{{percent | number:'1.0-0'}}%</span></h5>
              </span>
              <span *ngIf="detailMyChallenge.challengeStatus == 'Achieved'">
                    <h5><span class="badge badge-success">{{percent | number:'1.0-0'}}% Success</span></h5>
              </span>

              <span *ngIf="detailMyChallenge.challengeStatus == 'Achieved'">
                <a class="btn btn-success btn-add disabled" aria-disabled="true">Add Money</a>
              </span>
              <span *ngIf="detailMyChallenge.challengeStatus == 'Cancelled'">
                    <a class="btn btn-success btn-add disabled" aria-disabled="true">Add Money</a>
              </span>

              <span *ngIf="detailMyChallenge.challengeStatus == 'processing' ">
                <a [routerLink]="['/addmoney/'+detailMyChallenge.$key]" class="btn btn-success btn-add">Add Money</a>
              </span>
              <span class="delete" *ngIf="detailMyChallenge.challengeStatus == 'processing'">
                <a (click)="onCancelChallenge()" role="button" class="btn btn-danger bth-delete">Cancel Challenge</a>
              </span>
              <span class="delete" *ngIf="detailMyChallenge.challengeStatus == 'Achieved'">
                <a (click)="onDeleteChallenge()" role="button" class="btn btn-danger bth-delete">Delete Challenge</a>
              </span>
              <span class="delete" *ngIf="detailMyChallenge.challengeStatus == 'Cancelled'">
                <a (click)="onDeleteChallenge()" role="button" class="btn btn-danger bth-delete">Delete Challenge</a>
              </span>

              <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                Transactions
              </a>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12" align="center">
        <br>
        <a [routerLink]="['/mychallenge']" class="btn btn-danger" id="btn-back">
            <i class="fa fa-chevron-left fa-lg" aria-hidden="true"></i> Back
        </a>
        <br>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-sm-1 col-md-2 col-lg-3 flex-first"></div>
      <div class="col-sm-1 col-md-2 col-lg-3 flex-last"></div>
      <div class="col-sm-10 col-md-8 col-lg-6">
        <div class="card" *ngFor="let cha of detailMyTransaction; let i=index;">
          <div class="card-block">
            <div class="media">
              <img width="50px" class="rounded-circle d-flex mr-3" src="https://firebasestorage.googleapis.com/v0/b/lyra-24b71.appspot.com/o/plant.png?alt=media&token=b3e67207-a620-458e-8b88-9246871522fe">
              <div class="media-body">
                No.{{i+1}} Add Money at {{cha.datestamp}} {{cha.timestamp}} with amount {{cha.balance | currency:'THB':true:'1.2-2'}}
              </div>
            </div>
            <div align="center">
              <span *ngIf="detailMyChallenge.challengeStatus == 'processing'">
                <a (click)="onDeleteTransaction(cha.key)" role="button" class="btn btn-danger" id="delete">
                  <i class="fa fa-trash-o fa-lg" aria-hidden="true"></i>
                </a>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>