<div *ngIf="detailMyChallenge">
    <div class="container">
      <div class="row detailcard">
        <div class="col-sm-1 col-md-2 col-lg-3 flex-first"></div>
        <div class="col-sm-1 col-md-2 col-lg-3 flex-last"></div>
        <div class="col-sm-10 col-md-8 col-lg-6">
          <div class="card card-info">
            <img src="{{imgURL}}" class="card-img-top img-fluid">
            <div class="card-block">
              <h3 class="card-title chaName">
                <b>{{detailMyChallenge.challengeName}}</b>
              </h3>
              <div class="card-text">
  
                {{detailMyChallenge.challengeDescription}}
                <br>Start Date: {{startDate}}
                <br>Duration(days) : {{detailMyChallenge.duration}} Days
                <br>Step : {{currentStep}} of {{detailMyChallenge.stepAmount}}
                <br>Status : {{detailMyChallenge.challengeStatus}}
                <br><br><b>{{percent | number:'1.0-0'}}%</b>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" aria-valuenow="percent" aria-valuemin="0" aria-valuemax="100" [style.width]="percent + '%'">
                  </div>
                </div>
  
                <div align="center">
                  <span class="delete" *ngIf="detailMyChallenge.challengeStatus == 'processing'">
                  <a (click)="onCancelChallenge()" role="button" class="btn btn-danger bth-delete">Cancel Challenge</a>
                </span>
                  <span class="delete" *ngIf="detailMyChallenge.challengeStatus == 'Achieved'">
                  <a class="btn btn-success btn-add disabled" aria-disabled="true">Achieved</a>
                  <a (click)="onDeleteChallenge()" role="button" class="btn btn-danger bth-delete">Delete Challenge</a>
                </span>
                  <span class="delete" *ngIf="detailMyChallenge.challengeStatus == 'Cancelled'">
                  <a (click)="onDeleteChallenge()" role="button" class="btn btn-danger bth-delete">Delete Challenge</a>
                </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  
            <div class="stepList">
              <div class="row">
                <div class="col-sm-1 col-md-2 col-lg-3 flex-first"></div>
                <div class="col-sm-1 col-md-2 col-lg-3 flex-last"></div>
                <div class="col-sm-10 col-md-8 col-lg-6">
                  <h3 class="doStep">Watch your step</h3>
                  
                  <ul class="cbp_tmtimeline list-group"  *ngFor="let cha of mysteps; let last = last;">
                    <li>
                      <!-- <time class="cbp_tmtime" datetime="2013-04-10 18:30"><span>4/10/13</span> <span>18:30</span></time> -->
                      <div class="cbp_tmicon cbp_tmicon-phone" *ngIf="last == false">{{cha.stepNo}}</div>
                      <div class="cbp_tmicon cbp_tmicon-phone" *ngIf="last == true">{{cha.stepNo}}</div>
                      <div class="cbp_tmlabel" *ngIf="cha.stepStatus == 'checked'">
                        <h3 class="chaName" style="word-wrap:break-word;"><b>{{cha.stepName}}</b></h3>
                        <p style="word-wrap:break-word;">Desription : {{cha.stepDes}}</p>
                      </div>
                      <div class="cbp_tmlabel" *ngIf="cha.stepStatus == 'unlocked'" [routerLink]="['/checkStep/'+chaId+'/'+cha.stepKey]">
                        <h3 class="chaName" style="word-wrap:break-word;"><b>{{cha.stepName}}</b></h3>
                        <p style="word-wrap:break-word;">Desription : {{cha.stepDes}}</p>
                      </div>
                      <div class="cbp_tmlabel" *ngIf="cha.stepStatus == 'locked'">
                        Locked
                      </div>
                    </li>
                  </ul>
        
                </div>
              </div>
            </div>
         
  
  
      <div class="row">
        <div class="col-lg-12" align="center">
          <br>
          <a (click)="onBack()" class="btn btn-danger" id="btn-back">
              <i class="fa fa-chevron-left fa-lg" aria-hidden="true"></i> Back
          </a>
          <br><br>
        </div>
      </div>
    </div>
