.card{
    font-size: 1em;
    overflow: hidden;
    padding: 0;
    border: solid 1px;
    background-color: white;
    border: none;
    border-radius: .28571429rem;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
    box-shadow: 0 6px 15px rgba(36,37,38,0.08);
    border-radius: 1.285714rem;
}
.card-img-top {
    display: block;
    width: 100%;
    height: auto;
}
.container{
    padding-top: 80px;
}
thead{
    background-color: #378d3b;
}
.close{
    text-align: right;
}
.delete{
    color: #FFFFFF;
}
.btn-success, .btn-primary, .btn-danger, .btn-secondary{
    border-radius: 5.2rem;
    width: 100%;
    margin-top: 10px;
}
.Close{
    margin-top: 0px;
}
#btn-back{
    width: auto;
    margin-top: -10px;
}
#delete{
    color: white;
    width: 100%;
}
.detailcontent{
    padding-left: 10px;
    padding-right: 10px;
}
.chaName{
    color: #14AE4E;
}
.badge{
    border-radius: 5.2rem;
}
.progress {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    font-size: .75rem;
    line-height: 1rem;
    text-align: center;
    background-color: #cacaca;
    border-radius: 1.25rem;
    height: 8px;
}
.bg-0010 {
    height: 1rem;
    color: #fff;
    background-color: #9eada4;
}
.bg-1019 {
    height: 1rem;
    color: #fff;
    background-color: #92ad9c;
}
.bg-2029 {
    height: 1rem;
    color: #fff;
    background-color: #84ad94;
}
.bg-3039 {
    height: 1rem;
    color: #fff;
    background-color: #7bad8e;
}
.bg-4049 {
    height: 1rem;
    color: #fff;
    background-color: #6aad84;
}
.bg-5059 {
    height: 1rem;
    color: #fff;
    background-color: #58ad79;
}
.bg-6069 {
    height: 1rem;
    color: #fff;
    background-color: #47ad6e;
}
.bg-7079 {
    height: 1rem;
    color: #fff;
    background-color: #36ad64;
}
.bg-8089 {
    height: 1rem;
    color: #fff;
    background-color: #24ad59;
}
.bg-90100 {
    height: 1rem;
    color: #fff;
    background-color: #14ae4e;
}
a:not([href]):not([tabindex]):hover {
    color: white;
    text-decoration: none;
}
a:not([href]):not([tabindex]) {
    color:white;
    text-decoration: none;
}
.pigTransaction{
    width: 50px;
    height: auto;
}
.doStep{
    color: #14ae4e;
    font-weight: bold;
}
@media screen and (min-width: 767px) {
    .btn-success, .btn-primary, .btn-danger,.btn-secondary{
        border-radius: 5.2rem;
        width: auto;
    }
    #delete{
        color: white;
        width: 20%;
    }
}



.cbp_tmtimeline {
	margin: 0;
	padding: 0;
	list-style: none;
	position: relative;
} 

/* The line */
.cbp_tmtimeline:before {
	/* content: ''; */
    position: absolute;
    top: 0;
    bottom: 0;
    width: 5px;
    height: auto;
    background: #14ae4e;
    left: 90px;
    margin-left: -67px;
}
 .lastobject  {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 5px;
    height: auto;
    background: black;
    left: 90px;
    margin-left: -67px;
}
.cbp_tmtimeline > li {
	position: relative;
}

/* The date/time */
.cbp_tmtimeline > li .cbp_tmtime {
	display: block;
	width: 25%;
	padding-right: 100px;
	position: absolute;
}

.cbp_tmtimeline > li .cbp_tmtime span {
	display: block;
	text-align: right;
}

.cbp_tmtimeline > li .cbp_tmtime span:first-child {
	font-size: 0.9em;
	color: #bdd0db;
}

.cbp_tmtimeline > li .cbp_tmtime span:last-child {
	font-size: 2.9em;
	color: #3594cb;
}

.cbp_tmtimeline > li:nth-child(odd) .cbp_tmtime span:last-child {
	color: #6cbfee;
}

/* Right content */
.cbp_tmtimeline > li .cbp_tmlabel {
	margin: 0 0 15px 62px;
	padding: 15px;
	/* font-size: 1.2em;
	font-weight: 300; */
	line-height: 1.4;
	position: relative;
    border-radius: 20px;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
    box-shadow: 0 6px 15px rgba(36,37,38,0.08);
}

.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel {
	background: white;
}

.cbp_tmtimeline > li .cbp_tmlabel h2 { 
	margin-top: 0px;
	padding: 0 0 10px 0;
	border-bottom: 1px solid rgba(255,255,255,0.4);
}

/* The triangle */
.cbp_tmtimeline > li .cbp_tmlabel:after {
	right: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-right-color: #3594cb;
	border-width: 10px;
	top: 10px;
}

.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel:after {
    border-right-color: #6cbfee;
    display: none;
}

/* The icons */
.cbp_tmtimeline > li .cbp_tmicon {
	width: 40px;
	height: 40px;
	speak: none;
	text-transform: none;
	font-size: 1.4em;
	line-height: 40px;
	-webkit-font-smoothing: antialiased;
	position: absolute;
	color: #fff;
	background: #14ae4e;
	border-radius: 50%;
	/* box-shadow: 0 0 0 8px #afdcf8; */
	text-align: center;
	left: 31px;
	top: 0;
	margin: 0 0 0 -25px;
}

.cbp_tmicon-phone:before {
}

/* Example Media Queries */
@media screen and (max-width: 65.375em) {

	.cbp_tmtimeline > li .cbp_tmtime span:last-child {
		font-size: 1.5em;
	}
}

@media screen and (max-width: 47.2em) {
	.cbp_tmtimeline:before {
        /* content: ''; */
        position: absolute;
        top: 0;
        bottom: 0;
        width: 5px;
        height: auto;
        background: #14ae4e;
        left: 90px;
        margin-left: -73px;
	}

	.cbp_tmtimeline > li .cbp_tmtime {
		width: 100%;
		position: relative;
		padding: 0 0 20px 0;
	}

	.cbp_tmtimeline > li .cbp_tmtime span {
		text-align: left;
	}

	.cbp_tmtimeline > li .cbp_tmlabel {
		margin: -35px 0 40px 50px;
		padding: 1em;
		font-weight: 400;
		font-size: 95%;
	}

	.cbp_tmtimeline > li .cbp_tmlabel:after {
		right: auto;
		left: 20px;
		border-right-color: transparent;
		border-bottom-color: #3594cb;
		top: -20px;
	}

	.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel:after {
		border-right-color: transparent;
		border-bottom-color: #6cbfee;
	}

	.cbp_tmtimeline > li .cbp_tmicon {
		position: relative;
		left: auto;
		margin: -12px 5px 0 0px;
    }
}
