.card-all{
    font-size: 1em;
    overflow: hidden;
    padding: 0;
    border: solid 1px;
    background-color: white;
    border: none;
    border-radius: .28571429rem;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
    box-shadow: 0 6px 15px rgba(36,37,38,0.08);
    border-radius: 1.285714rem;

}
.card-header{
    background-color: #292b2c;
    color: white;
    text-align: center;
}
.category{
    padding-top: 80px;
}
.name{
    color: white;
    font-weight: bold;
}
