.menu{
    margin-top: 65px;
    margin-bottom: 20px;
}
.container{
    margin-top: 20px;
}
.card-img-top{
    width: 100%;
    height: auto;
    border-radius: 200px;
    box-shadow: 0 6px 15px rgba(36,37,38,0.08);
}
a{
    font-weight: bold;
    color: black;
}
a:hover{
    text-decoration: none;
}
/* a:hover > .card{
    -webkit-box-shadow: 0 1px 3px 0 #ababab;
    box-shadow: 0 1px 3px 0 #ababab;;
} */
.card{
    /* font-size: 1em;
    overflow: hidden;
    padding: 0;
    border: none;
    border-radius: .28571429rem;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
    position: relative;
    float: left;
    box-shadow: 0 6px 15px rgba(36,37,38,0.08);
    overflow: hidden;
    transition: box-shadow 0.25s ease, transform 0.25s ease;
    border-radius: 1.285714rem; */
    background-color: #f1f1f1;
    border: none;
}
h3{
    font-weight: bold;
}