<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="form-area">
        <h3 style="text-align: center;">Choose Category to Create Challenge</h3>
        <a [routerLink]="['/createSavingmoneyChallenge']" routerLinkActive="active" class="card-link">
          <div class="card card-inverse card-success mb-3 text-center">
            <div class="card-block">
              <blockquote class="card-blockquote">
                <i class="fa fa-money fa-2x" aria-hidden="true"></i>
                <p>Saving Money</p>
              </blockquote>
            </div>
          </div>
        </a>
        <div class="card mb-3 text-center" style="background-color: #333; border-color: #333;">
          <div class="card-block">
            <blockquote class="card-blockquote">
              <p>Cooking Skills</p>
            </blockquote>
          </div>
        </div>
        <div class="card mb-3 text-center" style="background-color: #333; border-color: #333;">
          <div class="card-block">
            <blockquote class="card-blockquote">
              <p>Exercising</p>
            </blockquote>
          </div>
        </div>
        <div class="card card-inverse mb-3 text-center" style="background-color: #333; border-color: #333;">
          <div class="card-block">
            <blockquote class="card-blockquote">
              <p>Reading</p>
            </blockquote>
          </div>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12" align="center">
      <a [routerLink]="['/']" class="btn btn-danger">
        <i class="fa fa-chevron-left fa-lg" aria-hidden="true"></i> Back
      </a>
    </div>
  </div>
</div>