<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4" *ngFor="let cha of Challenge">
      <a [routerLink]="['/detail'+cha.cate+'/'+cha.chaId]" routerLinkActive='active' class="card-link">
        <div class="card card-inverse card-info">
          <img class="card-img-top img-fluid" src="{{cha.imgSRC}}">
          <div class="card-block">
            <div class="card-text">
              <span class="chaName">{{cha.chaName}}</span>
              <br> {{cha.description}}
              <br> Category : {{cha.cate}}
              <br><small>Created on {{cha.thisDay}} at {{cha.thisTime}}</small>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
  <br>
</div>