<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <img src="http://placehold.it/300x200/000000/&text=Header" alt="" />
        <div class="avatar" align="center">
          <img src="http://placehold.it/80X80/333333/&text=Head" alt="" class="rounded-circle" id="profile">
          <h3>Pim Patcha</h3>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="card">
        <div class="card-header">
          <h3>{{challengeDetail.challengeName}}</h3>
        </div>
        <div class="card-block">
          <p class="card-text">{{challengeDetail.challengeDescription}}</p>
          <p class="card-text">Time : {{challengeDetail.duration}} Days</p>
          <p class="card-text">Total Amount : {{challengeDetail.totalAmount}} Baht</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <a href="#" class="card-link"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i>Like</a>
            <a href="#" class="card-link"><i class="fa fa-comments-o" aria-hidden="true"></i>Comment</a>
            <a [routerLink]="['/checkdatamoney/'+challengeDetail.$key]" class="card-link"><span class="fa fa-plus-square-o" aria-hidden="true"></span>Add to My Challenge</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div clsas="row">
    <div class="col-lg-12" align="center">
      <div class="card-block">
        <a [routerLink]="['/savingmoney']" class="btn btn-danger">Go Back</a>
      </div>
    </div>
    <br>
  </div>
</div>