<!--<div class="container detail" align="center">
  <div class="row">
    <div class="card" style="width: 30rem;">
      <img class="card-img-top" src="http://cdn1-www.dogtime.com/assets/uploads/gallery/shiba-inu-dog-breed-picutres/8-side.jpg"
        alt="Card image cap" width="100%">
      <div class="card-block">
        <h4 class="card-title">Saving 2000 baht in 3 weeks</h4>
        <p class="card-text">เก็บเงินจำนวน 2000 บาท ให้ได้ภายใน 3 อาทิตย์ แบบสบายๆ</p>
        <p class="card-text">Time : </p>
        <p class="card-text">Total Amount : </p>
        <a href="#" class="btn btn-success">Add more your money</a>
      </div>
      <div class="card-footer">
        <small class="text-muted">Pim Patcha</small>
      </div>
    </div>
  </div>
</div>-->
<a [routerLink]="['/savingmoney']">Go Back</a>
<br>
<h2 class="page-header">{{cha.challengeName}} <small>{{cha.challengeDescription}}</small></h2>