<div class="container">
  <div class="row">
    <div class="col-sm-9">
      <h1><b>My Challenges</b></h1>
    </div>
    <div class="col-sm-3" id="tabStatus">
      <ul class="nav nav-pills" id="navStatus">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle active" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Status</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" data-toggle="tab" href="#All">All</a>
            <a class="dropdown-item" data-toggle="tab" href="#InProgress">In Progress</a>
            <a class="dropdown-item" data-toggle="tab" href="#Acheived">Acheived</a>
            <a class="dropdown-item" data-toggle="tab" href="#Cancelled">Cancelled</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <!--<ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#All" role="tab">All</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#InProgress" role="tab">Doing</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#Acheived" role="tab">Acheived</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#Cancelled" role="tab">Cancelled</a>
    </li>
  </ul>-->


  <!-- Tab panes-->
  <div class="tab-content">
    <div class="tab-pane fade show active" id="All" role="tabpanel">
      <div class="row">
        <div class="col-sm-6 col-md-4 col-lg-3 mt-4" *ngFor="let cha of DetailOfChallenges">
          <a [routerLink]="['/detailmychallenge/'+cha.myk]" routerLinkActive='active' class="card-link">
            <div class="card card-inverse card-info">
              <div class="card-block">
                <div class="card-text">
                  <b>{{cha.name}}</b><br> Goal : {{cha.total | currency:'THB':true:'1.2-2'}}
                  <br> Total Amount : {{cha.balance | currency:'THB':true:'1.2-2'}}
                  <span *ngIf="cha.status != 'Achieved'">
                      <h5><span class="badge badge-default">{{cha.percent | number:'1.0-0'}}%</span></h5>
                  </span>
                  <span *ngIf="cha.status == 'Achieved'">
                      <h5><span class="badge badge-success">{{cha.percent | number:'1.0-0'}}% Success</span></h5>
                  </span>
                </div>
              </div>
              <div class="card-footer">
                <small>Last updated 3 mins ago</small>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>

    <div class="tab-pane fade" id="InProgress" role="tabpanel">
      <div class="row">
        <div class="col-sm-6 col-md-4 col-lg-3 mt-4" *ngFor="let cha of inProgressChallenges">
          <a [routerLink]="['/detailmychallenge/'+cha.myk]" routerLinkActive='active' class="card-link">
            <div class="card card-inverse card-info">
              <div class="card-block">
                <div class="card-text">
                  <b>{{cha.name}}</b><br> Goal : {{cha.total | currency:'THB':true:'1.2-2'}}
                  <br> Total Amount : {{cha.balance | currency:'THB':true:'1.2-2'}}
                  <span>
                      <h5><span class="badge badge-default">{{cha.percent | number:'1.0-0'}}%</span></h5>
                  </span>

                </div>
              </div>
              <div class="card-footer">
                <small>Last updated 3 mins ago</small>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>

    <div class="tab-pane fade" id="Acheived" role="tabpanel">
      <div class="row">
        <div class="col-sm-6 col-md-4 col-lg-3 mt-4" *ngFor="let cha of achievedChallenges">
          <a [routerLink]="['/detailmychallenge/'+cha.myk]" routerLinkActive='active' class="card-link">
            <div class="card card-inverse card-info">
              <div class="card-block">
                <div class="card-text">
                  <b>{{cha.name}}</b><br> Goal : {{cha.total | currency:'THB':true:'1.2-2'}}
                  <br> Total Amount : {{cha.balance | currency:'THB':true:'1.2-2'}}
                  <span>
                    <h5><span class="badge badge-success">{{cha.percent | number:'1.0-0'}}% Success</span></h5>
                  </span>
                </div>
              </div>
              <div class="card-footer">
                <small>Last updated 3 mins ago</small>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>

    <div class="tab-pane fade" id="Cancelled" role="tabpanel">
      <div class="row">
        <div class="col-sm-6 col-md-4 col-lg-3 mt-4" *ngFor="let cha of cancelledChallenges">
          <a [routerLink]="['/detailmychallenge/'+cha.myk]" routerLinkActive='active' class="card-link">
            <div class="card card-inverse card-info">
              <div class="card-block">
                <div class="card-text">
                  <b>{{cha.name}}</b><br> Goal : {{cha.total | currency:'THB':true:'1.2-2'}}
                  <br> Total Amount : {{cha.balance | currency:'THB':true:'1.2-2'}}
                  <span>
                    <h5><span class="badge badge-success">{{cha.percent | number:'1.0-0'}}% Cancelled</span></h5>
                  </span>
                </div>
              </div>
              <div class="card-footer">
                <small>Last updated 3 mins ago</small>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>

  </div>
  <br>
</div>

<a type="button" [routerLink]="['/selectCategory']" class="btn btn-circle fixedbutton" role="button">
  <i class="fa fa-pencil fa-2x" aria-hidden="true"></i>
</a>