.category-header{
    margin-top: 62px;
    background-image: url('https://firebasestorage.googleapis.com/v0/b/lyra-24b71.appspot.com/o/MyChallengeHeader.jpg?alt=media&token=29c513ca-dc6f-48d0-8137-e31b327e0ada');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 150px;
}
.mychallenges{
    color: white;
    padding-top: 108px;
}
h3{
    font-weight: bold;
}
.container{
    margin-top: 10px;
}
h5 {
    font-size: 1.28571429em;
    font-weight: 700;
    line-height: 1.2857em;
    margin: 0;
}

.card {
    font-size: 1em;
    overflow: hidden;
    padding: 0;
    border: none;
    border-radius: 1.285714rem;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
    box-shadow: 0 6px 15px rgba(36,37,38,0.08);
    overflow: hidden;
    transition: box-shadow 0.25s ease, transform 0.25s ease;
    background-color: white;
}

.card-block {
    font-size: 1em;
    position: relative;
    margin: 0;
    padding: 1em;
    border: none;
    width: 100%;
    /* border-top: 1px solid rgba(34, 36, 38, .1); */
    box-shadow: none;
}
.card-title {
    font-size: 1em;
    font-weight: 700;
    line-height: 1.2857em;
}

.card-text {
    clear: both;
    margin-top: .5em;
    color: rgba(0, 0, 0, .68);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-footer {
    font-size: 1em;
    position: static;
    top: 0;
    left: 0;
    max-width: 100%;
    padding: .75em 1em;
    color: rgba(0, 0, 0, .4);
    border-top: 1px solid rgba(0, 0, 0, .05) !important;
    background: white;
    color: black;
}

.card-inverse .btn {
    border: 1px solid rgba(0, 0, 0, .05);
}

.profile {
    position: absolute;
    top: -12px;
    display: inline-block;
    overflow: hidden;
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    margin: 0;
    border: 1px solid #fff;
    border-radius: 50%;
}

.profile-avatar {
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.profile-inline {
    position: relative;
    top: 0;
    display: inline-block;
}

.profile-inline ~ .card-title {
    display: inline-block;
    margin-left: 4px;
    vertical-align: top;
}

.text-bold {
    font-weight: 700;
}

.meta {
    font-size: 1em;
    color: rgba(0, 0, 0, .4);
}

.meta a {
    text-decoration: none;
    color: rgba(0, 0, 0, .4);
}
.badge-success{
    background: #14AE4E;
    color: white;
    width: 100%;
    text-align: center;
}
.badge-default{
    width: 100%;
    background: white;
    color: black;
    text-align: center;
}
a:hover > .card{
    -webkit-box-shadow: 0 1px 3px 0 #ababab;
    box-shadow: 0 1px 3px 0 #ababab;
    color: white;
}
.chaName{
    color: #14AE4E;
    font-weight: bold;
    font-size: 20px;
}
.nav-tabs .nav-item {
    margin-bottom: -1px;
    margin-left: -13px;
}
#tabStatus{
    margin-top: 15px;
    margin-left: -21px;
    font-weight: bold;
    font-size: 17px;
}
.nav-tabs {
    border-bottom: 0px solid #ddd;
}
.nav-link{
    color: black;
}
.nav-tabs .nav-link {
    border: none;
    border-radius: 50px;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #14AE4E;
    text-decoration: underline;
    text-decoration-color: #14AE4E;
    background: none;
}
@media screen and (min-width: 480px) {
    .category-header{
        margin-top: 62px;
        background-image: url('https://firebasestorage.googleapis.com/v0/b/lyra-24b71.appspot.com/o/MyChallengeHeader.jpg?alt=media&token=29c513ca-dc6f-48d0-8137-e31b327e0ada');
        background-size: cover;
        width: 100%;
        height: 300px;
        background-position: center;
    }
    .mychallenges{
        color: white;
        padding-top: 235px;
    }
}