<div class="bg">
  <div class="container">
    <div class="center">
      <img class="profileBar rounded-circle" src="{{displayPhoto}}">
      <p></p>
      <h2>{{displayName}}</h2>
      <p></p>
      <h5>{{description}}</h5>
      <br>
        <!--<p class="btn btn-success">Follow</p>-->
        <br>
        <div class="row">
          <div class="col">
            <p>Challenged</p>
            {{challengeNum}}
          </div>
          <div class="col">
            <p>Following</p>
            10
          </div>
          <div class="col">
            <p>Follower</p>
            10
          </div>
        </div>

        <!--<div class="profile">
          <img [src]="user.img" width="50px">
          @{{user.username}} has <strong>{{followerCount}}</strong> followers
          <div *ngIf="isFollowing; then unfollowButton else followButton">
              button renders here
          </div>
        </div>
        <ng-template #followButton>
          <button class="button is-info" (click)="toggleFollow()">Follow</button>
        </ng-template>
        <ng-template #unfollowButton>
          <button class="button is-warning" (click)="toggleFollow()">Unfollow</button>
        </ng-template>-->

    </div>
  </div>
</div>