<div class="bg">
  <div class="container">
    <div class="center">
      <img class="profileBar rounded-circle" src="{{displayPhoto}}">
      <p></p>
      <h2>{{displayName}}</h2>
      <p></p>
      <h5>{{description}}</h5>
      <br>
        <!--<p class="btn btn-success">Follow</p>-->
        <br>
        <div class="row">
          <div class="col">
            <p>Challenged</p>
            {{challengeNum}}
          </div>
          <div class="col">
            <p>Following</p>
            10
          </div>
          <div class="col">
            <p>Follower</p>
            10
          </div>
        </div>
    </div>
  </div>
</div>