<div class="menu">
    <div class="container">
      <h3>Create Challenge</h3>
      <div class="row">
        <div class="col col-sm-6 col-md-3 col-lg-3 mt-3">
          <a [routerLink]="['/createSavingmoneyChallenge']">
            <div class="card" align="center">
              <img class="card-img-top" src="https://firebasestorage.googleapis.com/v0/b/lyra-24b71.appspot.com/o/createchallengeicon%2FSavingIcon.png?alt=media&token=473f99dd-b7a5-440f-a2de-17bee6b1c540"
                alt="Card image cap">
              <div class="card-block">
                <p class="card-text">Saving Money Challenge</p>
              </div>
            </div>
          </a>
        </div>
        <div class="col col-sm-6 col-md-3 col-lg-3 mt-3">
          <a [routerLink]="['/createChecklistChallenge']">
            <div class="card" align="center">
              <img class="card-img-top" src="https://firebasestorage.googleapis.com/v0/b/lyra-24b71.appspot.com/o/createchallengeicon%2FCheckListIcon.png?alt=media&token=0f258664-4e0b-4218-8249-d4e06f061dac"
                alt="Card image cap">
              <div class="card-block">
                <p class="card-text">Checklist Challenge</p>
              </div>
            </div>
          </a>
        </div>
        <div class="col col-sm-6 col-md-3 col-lg-3 mt-3">
          <a [routerLink]="['/createStepChallenge']">
            <div class="card" align="center">
              <img class="card-img-top" src="https://firebasestorage.googleapis.com/v0/b/lyra-24b71.appspot.com/o/createchallengeicon%2FStepIcon.png?alt=media&token=23c59450-3f0e-42d3-a48c-bfa0ac8fd7b4"
                alt="Card image cap">
              <div class="card-block">
                <p class="card-text">Step Challenge</p>
              </div>
            </div>
          </a>
        </div>
        <div class="col col-sm-6 col-md-3 col-lg-3 mt-3">
          <a [routerLink]="['/createRoutineChallenge']">
            <div class="card" align="center">
              <img class="card-img-top" src="https://firebasestorage.googleapis.com/v0/b/lyra-24b71.appspot.com/o/createchallengeicon%2FRoutineIcon.png?alt=media&token=966bed6d-b132-4c5b-b76c-b0b09a4dcbb1"
                alt="Card image cap">
              <div class="card-block">
                <p class="card-text">Routine Challenge</p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>