<div *ngIf="stepChaDetail">
  <div class="container">
    <div class="row detailcard">
      <div class="col-sm-1 col-md-2 col-lg-3 flex-first"></div>
      <div class="col-sm-1 col-md-2 col-lg-3 flex-last"></div>
      <div class="col-sm-10 col-md-8 col-lg-6">
        <div class="card card-inverse card-info">
          <div class="card-block">
            <figure class="profile profile-inline">
              <img src="{{ownerPhoto}}" class="profile-avatar" alt="">
            </figure>
            <div class="card-title">
              {{displayName}}<br><span class="time">Created : {{datestamp}} at {{timestamp}}</span>
              <a [routerLink]="['/checkdataStep/'+stepChaDetail.$key]"   class="btn btn-success getChallengeWeb">Get Challenge</a>
            </div>
            <div class="card-text">
              <span class="chaName"><p><h3><b>{{stepChaDetail.challengeName}}</b></h3></span> {{stepChaDetail.challengeDescription}}
              <br> Steps : {{stepChaDetail.stepAmount}} <br>
              <br><img src="{{imageUrl}}" class="img-fluid">
              <a [routerLink]="['/checkdataStep/'+stepChaDetail.$key]" class="btn btn-success getChallengeMobile">Get Challenge</a>
              <span *ngIf="isOwner == true">
                <br>
                <div align="center">
                  <a (click)="onDeleteChallenge()" class="btn btn-danger" id="delete"><i class="fa fa-trash-o fa-lg" aria-hidden="true"></i></a>
                </div>
            </span>
            </div>
          </div>
          <div class="card-footer">
            <i class="fa fa-heart-o" aria-hidden="true"></i>&nbsp; 0 &nbsp;
            <a id="commentBt"><span style="color:rgba(0, 0, 0, .68)"><i class="fa fa-comment-o" aria-hidden="true"></i>&nbsp; 0 &nbsp;</span></a>
            <i class="fa fa-bookmark-o" aria-hidden="true"></i>&nbsp; 0 &nbsp;
            <span *ngIf="this.isOwner == true">
                <ng-template #content let-c="close" let-d="dismiss">
                    <div class="modal-header">
                      <h4 class="modal-title">Delete Challenge</h4>
                      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <p>Are you sure to delete your {{stepChaDetail.challengeName}}  ?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" (click)="c('Close click')">No</button>
                      <button type="button" class="btn btn-danger" (click)="c(onDeleteChallenge())">Yes</button>
                    </div>
                  </ng-template>
              <a (click)="open(content)" style="color:rgba(0, 0, 0, .68)"><i class="fa fa-trash-o deleteCha" aria-hidden="true"></i></a>
      
            </span>
          </div>
        </div>
      </div>
    </div>

    <div id="card-comment" style="display: none;">
      <div class="row">
        <div class="col-sm-1 col-md-2 col-lg-3 flex-first"></div>
        <div class="col-sm-1 col-md-2 col-lg-3 flex-last"></div>
        <div class="col-sm-10 col-md-8 col-lg-6">
          <div class="card" id="comment">
            <div class="card-block">
              <div class="media">
                <img class="d-flex mr-3 profile-avatar" src="{{ownerPhoto}}" alt="Generic placeholder image">
                <div class="media-body">
                  <input type="text" class="commentIp" placeholder="write a comment..." autofocus>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="stepList">
      <div class="row">
        <div class="col-sm-1 col-md-2 col-lg-3 flex-first"></div>
        <div class="col-sm-1 col-md-2 col-lg-3 flex-last"></div>
        <div class="col-sm-10 col-md-8 col-lg-6">
          <h3 class="doStep">Watch your step</h3>
          
          <ul class="cbp_tmtimeline list-group"  *ngFor="let cha of stepSort;">
            <li>
              <!-- <time class="cbp_tmtime" datetime="2013-04-10 18:30"><span>4/10/13</span> <span>18:30</span></time> -->
              <div class="cbp_tmicon cbp_tmicon-phone">{{cha.stepNo}}</div>
              <div class="cbp_tmlabel">
                <h3 class="chaName" style="word-wrap:break-word;"><b>{{cha.stepName}}</b></h3>
                <p style="word-wrap:break-word;">Desription : {{cha.stepDes}}</p>
              </div>
            </li>
          </ul>

        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-1 flex-first"></div>
      <div class="col-sm-1 flex-last"></div>
      <div class="col-sm-10" align="center">
        <br><br><br>
        <a (click)="onBack()" class="btn btn-danger"><i class="fa fa-chevron-left fa-lg" aria-hidden="true"></i> Back</a>
      </div>
    </div>
  </div>
  <br>
</div>