<div class="container">
  <br>
  <br>
  <br>
  <br>
  <div class="row">
    <div class="col-sm-3 flex-first"></div>
    <div class="col-sm-3 flex-last"></div>
    <div class="col-sm-6">
      <div class="card card-inverse card-info">
        <div class="card-block">
          <figure class="profile profile-inline">
            <img src=""
              class="profile-avatar" alt="">
          </figure>
          <div class="card-title">Pim Patcha<br><span class="time">Created : {{datestamp}} at {{timestamp}}</span></div>
          <div class="card-text">
            <p>Drink Starbucks coffe 3 cups<b></b><br>
              <br>Expired Date : <br>
          </div>
          <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
              Challenge it !
            </button>
        </div>
        <div class="card-footer">
          <a href="#" class="card-link"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i>Like</a>
          <a href="#" class="card-link"><i class="fa fa-comments-o" aria-hidden="true"></i>Comment</a>
        </div>
      </div>