<div class="container">
  <div class="row content">
    <div class="col-sm-2 flex-first"></div>
    <div class="col-sm-2 flex-last"></div>
    <div class="col-sm-8">
      <h1><b>Tell us step by step</b></h1>
      <br>
      <div class="card">
        <div class="card-block">
          <div>
            <span class="chaName"><h3><b>{{checklistDetails.challengeName}}</b></h3></span>{{checklistDetails.challengeDescription}}
          </div>
          <p>
            <div class="card-task" *ngFor="let cha of stepForAdd; let i=index;">
              <div class="card-addtask">
                <b>Step No. {{cha.stepNo}}:</b> {{cha.stepName}}
                <br><span *ngIf="cha.stepDes != 'undefined'">{{cha.stepDes}}</span>
              </div>
            </div>
        </div>

        <form ngNativeValidate (submit)="onAddSubmit(formData)" #formData='ngForm'>
          <div class="card-block">
            <div class="form-group no-border">
              <div class="input_fields_wrap">
                <div class="row">
                  <div class="col-lg-12">
                    Add new step
                    <input type="text" class="form-control" [(ngModel)]="stepName" name="stepName" required #stepName1="ngModel" placeholder="Step name">
                    <input type="text" class="form-control" [(ngModel)]="stepDes" name="stepDes" #stepDes1="ngModel" placeholder="how to do this step">
                  </div>
                </div>
                <div class="row">
                  <div class="col col-lg-12" align="center">
                    <br>
                    <button type="submit" value="Submit" class="btn btn-danger">Add Task Step</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>

        <form ngNativeValidate (submit)="onAddTask()" #createTasks='ngForm'>
          <div class="col-sm-12 btn-submit">
            <button type="submit" value="Submit" class="btn btn-warning" id="create">Create Challenge</button>
          </div>
        </form>
        <br>
      </div>
    </div>
  </div>