.card{
    font-size: 1em;
    overflow: hidden;
    padding: 0;
    border: none;
    border-radius: .28571429rem;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
    position: relative;
    float: left;
    box-shadow: 0 6px 15px rgba(36,37,38,0.08);
    overflow: hidden;
    transition: box-shadow 0.25s ease, transform 0.25s ease;
    border-radius: 1.285714rem;
    background-color: white;
    height: auto;
    width: 100%;
    }
    .card-header{
      color: white;
      background-color: #378d3b;
      text-align: center;
    }
    .card-footer{
      background-color: #378d3b;
    }
    .btn-submit{
      text-align: center;
    }
    .ng-valid[required], .ng-valid.required  {
      border-left: 5px solid #42A948; /* green */
    }
    .ng-invalid:not(form)  {
      border-left: 5px solid #a94442; /* red */
    }
    .remove{
      color: black;
    }
    .content{
      padding-top: 80px;
    }
    .chaName{
      color: #14AE4E;
  }
  .card-task{
    font-size: 1em;
    overflow: hidden;
    margin-bottom: 10px;
    padding-top: 5px;
    border: none;
    border-radius: .28571429rem;
    position: relative;
    float: left;
    overflow: hidden;
    transition: box-shadow 0.25s ease, transform 0.25s ease;
    border-radius: 7px 7px 7px 7px;
    -moz-border-radius: 7px 7px 7px 7px;
    -webkit-border-radius: 7px 7px 7px 7px;
    border: 0px solid #000000;
    background-color: #FBFBFB;
    height: auto;
    width: 100%;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
  }
  .card-addtask{
    padding-left: 10px;
  }
  .btn-danger{
    border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
    width: 100%;
  }
  input{
    border-radius: 5.2rem;
  }
  .btn{
    border-radius: 5.2rem;
  }





  #sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
  #sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 18px; }
  #sortable li span { position: absolute; margin-left: -1.3em; }
  