<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script	  src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<div class="container">
        <div class="row content">
          <div class="col-sm-2 flex-first"></div>
          <div class="col-sm-2 flex-last"></div>
          <div class="col-sm-8">
            <h1><b>Tell us step by step</b></h1>
            <div class="card">
              <div class="card-block">
                <div>
                  <span class="chaName"><h3><b>{{checklistDetails.challengeName}}</b></h3></span>{{checklistDetails.challengeDescription}}
                </div>
                <p>
                  <div class="card-task" *ngFor="let cha of stepForAdd; let i=index;">
                    <div class="card-addtask">
                      <b>Step No. {{cha.stepNo}}:</b> {{cha.stepName}}
                      <br><span *ngIf="cha.stepDes != 'undefined'">{{cha.stepDes}}</span>
                    </div>
                  </div>
              </div>

              <form ngNativeValidate (submit)="onAddSubmit(formData)" #formData='ngForm'>
                <div class="card-block">
                  <div class="form-group no-border">
                    <div class="input_fields_wrap">
                      <div class="row">
                        <div class="col">
                          Add new step
                          <input type="text" class="form-control" [(ngModel)]="stepName" name="stepName" required  #stepName1="ngModel"
                            placeholder="Step name">
                            <input type="text" class="form-control" [(ngModel)]="stepDes" name="stepDes"  #stepDes1="ngModel"
                            placeholder="how to do this step">
                        </div>
                        
                        <div class="col col-lg-2">
                          <br>
                          <button type="submit" value="Submit" class="btn btn-danger">
                              <i class="fa fa-plus fa-lg" aria-hidden="true"></i>
                          </button>
                        </div>
                      </div>
                    </div>
      
                  </div>
                </div>
              </form>
      
            <form ngNativeValidate (submit)="onAddTask()" #createTasks='ngForm'>
                <div class="col-sm-12 btn-submit">
                  <button type="submit" value="Submit" class="btn btn-warning">
                          <i class="fa fa-floppy-o fa-lg" aria-hidden="true"></i> Create Challenge
                        </button>
                </div>
              </form>
              <br>
            </div>
          </div>
        </div>