<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
</head>

<body ng-app="MyApp">

  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
  <script>
    angular.module('MyApp', ['ngMaterial'])
      .run(function () {
        console.log('MyApp is ready!!!')
      });
  </script>
  <div>
    <div>
      <app-header></app-header>
    </div>
    <router-outlet></router-outlet>
    <span class="done">
          <button md-fab>
            <md-icon>check circle</md-icon>
          </button>
    </span>
  </div>
</body>
</html>