<div class="container">
  <div class="row content">
    <div class="col-sm-2 flex-first"></div>
    <div class="col-sm-2 flex-last"></div>
    <div class="col-sm-8">
      <h1><b>Creating Saving Money Challenge</b></h1>
      <form ngNativeValidate (submit)="onAddSubmit()" #savingmoneyForm="ngForm">
        <div class="card">
          <div class="card-block">
            <div class="form-group no-border">
              <label for="challengeName">Challenge Name</label>
              <input type="text" class="form-control" [(ngModel)]="challengeName" name="challengeName" required minlength="5" #challengeName1="ngModel">
              <div *ngIf="challengeName1.errors && (challengeName1.dirty || challengeName1.touched)" class="alert alert-danger">
                <div [hidden]="!challengeName1.errors.required">
                  Challenge Name is required !
                </div>
                <div [hidden]="!challengeName1.errors.minlength">
                  Challenge Name will be minimum of 5 characters..
                </div>
              </div>
            </div>
            <div class="form-group no-border">
              <label>Challenge Description</label>
              <input type="text" class="form-control" [(ngModel)]="challengeDescription" name="challengeDescription">
            </div>
            <div class="form-group no-border">
              <label>Duration (days)</label>
              <input type="number" class="form-control" [(ngModel)]="duration" name="duration" required #duration1="ngModel" min="0" max="999999999999"
                step="1">
              <div *ngIf="duration1.errors && (duration1.dirty || duration1.touched)" class="alert alert-danger">
                <div [hidden]="!duration1.errors.required">
                  Duration is required !
                </div>
              </div>
            </div>
            <div class="form-group no-border">
              <label>Goal Amount (THB)</label>
              <input type="number" class="form-control" [(ngModel)]="totalAmount" name="totalAmount" required #totalAmount1="ngModel" min="0"
                max="999999999999">
              <div *ngIf="totalAmount1.errors && (totalAmount1.dirty || totalAmount1.touched)" class="alert alert-danger">
                <div [hidden]="!totalAmount1.errors.required">
                  Goal Amount is required !
                </div>
              </div>
            </div>
            <div class="form-group no-border">
              <label>Upload image of Challenge</label>
              <input id='image' type="file" class="form-control" [(ngModel)]="image" name="image">
            </div>
            <div class="col-xs-6 .col-sm-4 btn-submit">
              <button type="submit" value="Submit" class="btn btn-success" [disabled]="!savingmoneyForm.form.valid">
                  <i class="fa fa-floppy-o fa-lg" aria-hidden="true"></i> Create Challenge
                </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12" align="center">
    <a [routerLink]="['/selectCategory']" class="btn btn-danger">
        <i class="fa fa-chevron-left fa-lg" aria-hidden="true"></i> Back
      </a>
  </div>
</div>
<br>