<div class="container" align="center">
  <h2 class="page-header">Creating Saving Money Challenge</h2>
</div>
<div class="container">
  <form (submit)="onAddSubmit()">
    <div class="form-group no-border">
      <label>Challenge Name</label>
      <input type="text" class="form-control" [(ngModel)]="challengeName" name="challengeName" required >
    </div>
    <div class="form-group no-border">
      <label>Challenge Description</label>
      <input type="text" class="form-control" [(ngModel)]="challengeDescription" name="challengeDescription" required >
    </div>
    <div class="form-group no-border">
      <label>Duration</label>
      <input type="number" class="form-control" [(ngModel)]="duration" name="duration" required>
    </div>
    <div class="form-group no-border">
      <label>Total Amount</label>
      <input type="number" class="form-control" [(ngModel)]="totalAmount" name="totalAmount" required>
    </div>
    <div class="form-group no-border">
      <label>Upload image of Challenge</label>
      <input id='image' type="file" class="form-control" [(ngModel)]="image" name="image" required>
    </div>

    
    <button type="submit" class="btn btn-primary">Save</button>
    
  </form>
   
  <br />
</div>