<div class="container">
  <div class="row detailcard">
      <div class="col-md-3 flex-first"></div>
      <div class="col-md-3 flex-last"></div>
      <div class="col-sm-6">
          <div class="card">
              <div class="card-block">
                  <span class="chaName"><h3 class="card-title"><b>{{detailTask.taskName}}</b></h3></span>
                  <p>Level : {{detailTask.level}}</p>
                  <form ngNativeValidate (submit)="onCheckSubmit()" #checklistForm="ngForm">
                      <div class="form-group" (submit)="onAddSubmit()">
                          <label>Review your task</label>
                          <input type="text" class="form-control" [(ngModel)]="taskCaption" name="taskCaption">
                          
                          <div class="form-group no-border">
                            <label>Upload image</label>
                            <input id='image' type="file" class="form-control" [(ngModel)]="image" name="image">
                          </div>
                      </div>
                      <button type="submit" class="btn btn-success btn-add">
                          Check This List
                      </button>
                  </form>
              </div>
          </div>
      </div>
  </div>
  <div class="row">
      <div class="col-sm-12" align="center">
          <a (click)="onBack()" class="btn btn-danger">
              <i class="fa fa-chevron-left fa-lg" aria-hidden="true"></i> Back
          </a>
      </div>
  </div>
</div>
<br>
