
.container{
    margin-top: 80px;
}
#fb {
  /*  background:#3B5998 url('../../assets/images/facebook.svg') no-repeat 14px 6px;*/
    background-size: 47px;
    color:#fff;
}

#google {
    border: 1px solid #95989A;
   /* background: #fff  url('../../assets/images/google.svg') no-repeat 25px;*/
    background-size: 25px;
}

#email {
   /* background: #ECECEC  url('../../assets/images/email.svg') no-repeat 25px;*/
    background-size: 25px;
}
.facebook{
    background-color: blue;
    width: 100%;
}
.fa{
    color: white;
}
.fa-envelope-o{
    font-weight: bold;
    font-size: 35px;
}
a{
    color: white;
}
.btn{
    height: 50px;
}
.btn-group-sm>.btn, .btn-sm {
    padding: .25rem .5rem;
    font-size: .875rem;
    border-radius: 5.2rem;
}
.btn-primary {
    color: #fff;
    background-color: #3b5998;
    border-color: #3b5998;
}
.btn-danger{
    color: #fff;
    background-color: #ea4335;
    border-color: #ea4335;
}
.btn-warning{
    color: #fff;
    background-color: #ec971f;
    border-color: #ec971f; 
}
.btn-success{
    color: #fff;
    background-color: #449d44;
    border-color: #449d44;
}
a:hover{
    text-decoration: none;
}
.NoAccount{
    color: blue;
}
.card{
    font-size: 1em;
    overflow: hidden;
    padding: 0;
    border: none;
    border-radius: .28571429rem;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
    position: relative;
    float: left;
    box-shadow: 0 6px 15px rgba(36,37,38,0.08);
    overflow: hidden;
    transition: box-shadow 0.25s ease, transform 0.25s ease;
    border-radius: 1.285714rem;
    background-color: white;
    height: 100%;
    width: 100%
}
h3{
    font-weight: bold;
    margin-top: 10px;
}
.login{
    vertical-align: center;
}
/* .error{
    color: red;
} */
@media screen and (min-width: 480px) {
    #page {
        padding:1em;
    }
    #toolbar {
        width:90%;
        margin-left: -45%;
    }
    #fb {
        background:#3B5998;
    }

    #google {
        background: #fff;
    }
}