<div class="container">
    <div class="row">
        <div class="col-lg-3 flex-first"></div>
        <div class="col-lg-3 flex-last"></div>
        <div class="col-lg-6">
            <div class="card">
                <div class="card-block">
                    <div align="center">
                        <h3>Login to LYRA</h3>
                        <br>
                    </div>
                    <!-- <span class="error" *ngIf="error">{{ error }}</span> -->
                    <button type="button" class="btn btn-primary btn-sm btn-block" (click)="loginFb()">
                    <i class="fa fa-facebook fa-2x"></i>&nbsp; Login with Facebook
                </button>
                    <button type="button" class="btn btn-danger btn-sm btn-block" (click)="loginGoogle()">
                    <i class="fa fa-google fa-2x"></i>&nbsp; Login with Google
                </button>
                    <a class="btn btn-warning btn-sm btn-block" routerLink="/login-email" routerLinkActive="active" id="email">
                    <i class="fa fa-envelope-o fa-2x"></i>&nbsp; Login with Email
                </a>
                    <div align="center">
                        <br>
                        No account? <a routerLink="/signup" routerLinkActive="active" id="email" class="NoAccount">Create Here</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>