<div *ngIf="checkdata">
<div class="container">
  <div class="row detailcard">
    <div class="col-sm-2 flex-first"></div>
    <div class="col-sm-2 flex-last"></div>
    <div class="col-sm-8">
        <h1><b>Checking your data</b></h1>
      <form ngNativeValidate (submit)="onAddSubmit()">
        <div class="card">
          <div class="card-block">
            <div class="form-group no-border">
              <label>Challenge Name</label>
              <input type="text" class="form-control" ngModel="{{checkdata.challengeName}}" name="challengename" required disabled="disabled">
            </div>
            <div class="form-group no-border">
              <label>Challenge Description</label>
              <input type="text" class="form-control" ngModel="{{checkdata.challengeDescription}}" name="challengeDescription" required disabled="disabled">
            </div>
            <div class="form-group no-border">
              <label>Duration(days)</label>
              <input type="number" class="form-control" ngModel="{{checkdata.duration}}" name="duration" required disabled="disabled">
            </div>
            <div class="form-group no-border">
              <label>Goal Amount(THB)</label>
              <input type="number" class="form-control" ngModel="{{checkdata.totalAmount}}" name="totalAmount" required disabled="disabled">
            </div>
            <div class="btn-submit">
              <button type="submit" value="Submit" class="btn btn-success">
                <i class="fa fa-floppy-o fa-lg" aria-hidden="true"></i> <span class="add">Add to Mychallenge</span>
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12" align="center">
    <br>
  </div>
</div>
<br>
</div>