<div class="container">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active">Saving Money</li>
  </ol>
  <div class="row">
    <div class="col-sm-6 col-md-4 col-lg-3 mt-4" *ngFor="let cha of challengeList">
      <a [routerLink]="['/detailsavingmoney/'+cha.$key]" routerLinkActive='active' class="card-link">
        <div class="card card-inverse card-info">
          <img class="card-img-top" src="https://firebasestorage.googleapis.com/v0/b/lyra-24b71.appspot.com/o/12435-NO8HE3-%5BConverted%5D.png?alt=media&token=ac44246a-ed0d-4875-9744-e023e6c2fc58">
          <div class="card-block">
            <figure class="profile profile-inline">
              <img src="https://firebasestorage.googleapis.com/v0/b/lyra-24b71.appspot.com/o/Pim%20Profile.jpg?alt=media&token=da2b0bd2-354b-47f6-8510-b01fb5398810"
                class="profile-avatar" alt="">
            </figure>
            <h6 class="card-title">Pim Patcha</h6>
            <div class="card-text">
              {{cha.challengeName}}
            </div>
          </div>
          <div class="card-footer">
            <small>Last updated 3 mins ago</small>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>

<!-- floating action button-->
<a [routerLink]="['/selectCategory']">
  <button type="button" class="btn btn-success btn-circle fixedbutton">
    <i class="fa fa-pencil fa-2x" aria-hidden="true"></i>
  </button>
</a>













<!--div class="container">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active">Saving Money</li>
  </ol>
  <div class="row">
    <div class="col-sm-6 col-md-4 col-lg-3" *ngFor="let cha of challengeList">
      <a [routerLink]="['/detailsavingmoney/'+cha.$key]" routerLinkActive='active' class="card-link">
        <div class="card">
          <img class="card-img-top" height="180px" src="https://firebasestorage.googleapis.com/v0/b/lyra-24b71.appspot.com/o/12435-NO8HE3-%5BConverted%5D.png?alt=media&token=ac44246a-ed0d-4875-9744-e023e6c2fc58"
            alt="">
          <div class="card-block">
            <h4 class="card-title">{{cha.challengeName}}</h4>
            <p class="card-text">{{cha.challengeDescription}}</p>
          </div>
        </div>
      </a>
      <br>
    </div>
  </div>
</div>

css
.card-img-top {
    display: block;
    width: 100%;
    height: auto;
}

a{
    color: white;
}

.card{
    background-color: #4bae4f;
}

.card:hover{
    border: dashed 5px;
    border-color: #378d3b;
}
-->