<div class="container">

  <ol class="breadcrumb">
    <li class="breadcrumb-item active">Saving Money</li>
  </ol>
  <div class="row">
    <div class="col-sm-6 col-md-4 col-lg-3" *ngFor="let cha of challengeList">
      <a [routerLink]="['/detailsavingmoney/'+cha.$key]" routerLinkActive='active' class="card-link">
        <div class="card">
          <img class="card-img-top" height="180px" src="https://firebasestorage.googleapis.com/v0/b/lyra-24b71.appspot.com/o/12435-NO8HE3-%5BConverted2%5D.png?alt=media&token=62f9017a-d113-48ba-baf9-d8e8f6d73dfb"
            alt="">
          <div class="card-block">
            <h4 class="card-title">{{cha.challengeName}}</h4>
            <p class="card-text">{{cha.challengeDescription}}</p>
          </div>
        </div>
      </a>
      <br>
    </div>
  </div>
</div>