<div class="container">
<br>
<br>
<br>
<br>
  <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            Drink Starbucks coffee 3 cups
          </div>
          <div class="card-block">
            <div class="row">
              <div class="col-sm-5">
                <h4 class="card-title">{{detailMyChallenge.challengeName}}</h4>
                <p class="card-text">{{detailMyChallenge.challengeDescription}}</p>
                <p class="card-text">Duration(days) : {{detailMyChallenge.duration}} Days</p>
                <p class="card-text">Goal Amount : {{detailMyChallenge.totalAmount | currency:'THB':true:'1.0-0'}} Baht</p>
                <p class="card-text">Total Amount : {{currentBalance | currency:'THB':true:'1.0-0'}} Baht</p>
                <p class="card-text">Status : {{detailMyChallenge.challengeStatus}}<br>
                <p class="card-text">Start Date: {{startDate}}<br>
                  </p>
              </div>
              <div class="col-sm-7"> 
                <img src="{{imgURL}}" class="img-fluid">
              </div>
            </div>
  
          </div>
        </div>
      </div>
    </div>
</div>