<div *ngIf="detailMyChallenge">
  <div class="container">
    <div class="row detailcard">
      <div class="col-sm-1 col-md-2 col-lg-3 flex-first"></div>
      <div class="col-sm-1 col-md-2 col-lg-3 flex-last"></div>
      <div class="col-sm-10 col-md-8 col-lg-6">
        <div class="card card-info">
          <img src="{{imgURL}}" class="card-img-top img-fluid">
          <div class="card-block">
            <h3 class="card-title chaName">
              <b>{{detailMyChallenge.challengeName}}</b>
            </h3>
            <div class="card-text">

              {{detailMyChallenge.challengeDescription}}
              <br>Start Date: {{startDate}}
              <br>Duration(days) : {{detailMyChallenge.duration}} Days
              <br>Done : {{done}} Task
              <br>Total : {{totalTask}} Tasks
              <br>Status : {{detailMyChallenge.challengeStatus}}
              <br><br><b>{{percent | number:'1.0-0'}}%</b>
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="percent" aria-valuemin="0" aria-valuemax="100" [style.width]="percent + '%'">
                </div>
              </div>

              <div align="center">
                <span class="delete" *ngIf="detailMyChallenge.challengeStatus == 'processing'">
                <a (click)="onCancelChallenge()" role="button" class="btn btn-danger bth-delete">Cancel Challenge</a>
              </span>
                <span class="delete" *ngIf="detailMyChallenge.challengeStatus == 'Achieved'">
                <a class="btn btn-success btn-add disabled" aria-disabled="true">Achieved</a>
                <a (click)="onDeleteChallenge()" role="button" class="btn btn-danger bth-delete">Delete Challenge</a>
              </span>
                <span class="delete" *ngIf="detailMyChallenge.challengeStatus == 'Cancelled'">
                <a (click)="onDeleteChallenge()" role="button" class="btn btn-danger bth-delete">Delete Challenge</a>
              </span>
              <span class="delete">
                <a [routerLink]="['/checkHistory/'+chaId]" role="button" class="btn btn-danger bth-delete">View Task History</a>
              </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="taskchecklist">
      <div class="row">
        <div class="col-sm-1 col-md-2 col-lg-3 flex-first"></div>
        <div class="col-sm-1 col-md-2 col-lg-3 flex-last"></div>
        <div class="col-sm-10 col-md-8 col-lg-6">

          <h3 class="doChecklist">Do Checklist</h3>
          <div class="card" *ngFor="let cha of myTasks;">
            <div class="card-block">
              <div>
                <!-- cha.tStatus for checking if status is checked or unchecked -->
                <div class="media">
                    <span *ngIf="cha.tStatus == 'uncheck'" [routerLink]="['/checkPost/'+chaId+'/'+cha.key]">
                      <img class="rounded-circle d-flex mr-3 checkmark" src="https://firebasestorage.googleapis.com/v0/b/lyra-24b71.appspot.com/o/iconInAllDetailMyChallenge%2Fcheck-unmark.png?alt=media&token=d3afd7d8-494f-4453-8879-546f4eb8c13d">
                    </span>
                    <span *ngIf="cha.tStatus == 'Checked'">
                      <img width="40px" class="rounded-circle d-flex mr-3 checkmark" src="https://firebasestorage.googleapis.com/v0/b/lyra-24b71.appspot.com/o/iconInAllDetailMyChallenge%2Fcheck-mark%20.png?alt=media&token=a6a50b39-d025-4c3c-af9b-e794c9fec692">
                    </span>
                  <div class="media-body">
                    <span *ngIf="cha.lev == 'easy'" style="color:#14AE4E">
                      <h6>{{cha.tName}}</h6>
                      Level : {{cha.lev}}
                    </span>
                    <span *ngIf="cha.lev == 'medium'" style="color:#f0ad4e">
                      <h6>{{cha.tName}}</h6>
                      Level : {{cha.lev}}
                    </span>
                    <span *ngIf="cha.lev == 'hard'" style="color:#d9534f">
                      <h6>{{cha.tName}}</h6>
                      Level : {{cha.lev}}
                    </span>
                  </div>
                </div>
              </div> <!-- changed from a tag -->
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-lg-12" align="center">
        <br>
        <a (click)="onBack()" class="btn btn-danger" id="btn-back">
            <i class="fa fa-chevron-left fa-lg" aria-hidden="true"></i> Back
        </a>
        <br><br>
      </div>
    </div>
  </div>