<div class="container">
    <div class="row detailcard">
        <div class="col-md-3 flex-first"></div>
        <div class="col-md-3 flex-last"></div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-block">
                    <span class="chaName"><h3 class="card-title"><b>{{detailMyChallenge.challengeName}}</b></h3></span>
                    <p>Goal : {{detailMyChallenge.totalAmount | currency:'THB':true:'1.0-0'}}</p>
                    <p>Total Amount : {{currentBalance | currency:'THB':true:'1.0-0'}}</p>
                    <form ngNativeValidate (submit)="onAddSubmit()" #addmoneyForm="ngForm">
                        <div class="form-group" (submit)="onAddSubmit()">
                            <label>Fill your saving amount</label>
                            <input type="number" class="form-control" [(ngModel)]="balance" name="balance" placeholder="Your Money" min="0" max="999999999999"
                                autofocus required #balance1="ngModel" min="0" max="999999999999" step="1">
                            <div *ngIf="balance1.errors && (balance1.dirty || balance1.touched)" class="alert alert-danger">
                                <div [hidden]="!balance1.errors.required">
                                    Fill your amount !
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-success btn-add" [disabled]="!addmoneyForm.form.valid">
                            <i class="fa fa-dollar fa-lg" aria-hidden="true"></i> Add Money

                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12" align="center">
            <a [routerLink]="['/detailmychallenge/'+detailMyChallenge.$key]" class="btn btn-danger">
                <i class="fa fa-chevron-left fa-lg" aria-hidden="true"></i> Back
            </a>
        </div>
    </div>
</div>
<br>