<div class="container">

    <ol class="breadcrumb">
        <li class="breadcrumb-item active">My Challenge</li>
    </ol>

    <div class="row">

        <div class="col-md-5">
            <div class="card">
                <div class="card-header">
                    Challenge Name
                </div>
                <div class="card-block">
                    <h4 class="card-title">{{detailMyChallenge.challengeName}}</h4>
                    <p>Total Amount : {{detailMyChallenge.totalAmount}}</p>
                </div>
            </div>
            <br>
        </div>
        <script type="text/typescript">

        </script>
        <div class="col-md-7">
            <div class="card">
                <div class="card-header">
                    Saving Today!
                </div>
                <div class="card-block">
                    <form (submit)="onAddSubmit()">
                        <div class="form-group" (submit)="onAddSubmit()">
                            <label>fill your saving amount</label>
                            <input type="number" class="form-control" [(ngModel)]="balance" name="balance" placeholder="Your Money" min="0" max="999999999999">
                        </div>
                        <button type="submit" class="btn btn-primary">Add Money</button>
                    </form>
                </div>
            </div>
            <br>
        </div>

    </div>
</div>