<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h3>Achievement</h3>
      You got an Achievement when you success challenge with condition.
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <br>
      <h6>Saving Money Achievement</h6>
    </div>
  </div>
  <div class="row">
    <div class="col col-sm-6 col-md-3 col-lg-2 mt-3">
      <div class="card">
        <div class="card-block">
          <img class="icon-achievement" src="https://firebasestorage.googleapis.com/v0/b/lyra-24b71.appspot.com/o/Achievement%2FSaveAch1BW.png?alt=media&token=d51e64a7-39b5-4b42-9265-ebe57abaf1eb">
        </div>
      </div>
    </div>
    <div class="col col-sm-6 col-md-3 col-lg-2 mt-3">
      <div class="card">
        <div class="card-block">
          <img class="icon-achievement" src="https://firebasestorage.googleapis.com/v0/b/lyra-24b71.appspot.com/o/Achievement%2FSaveAch2BW.png?alt=media&token=b98ae10b-5e83-44f1-b6f2-1a0d792c0de7">
        </div>
      </div>
    </div>
    <div class="col col-sm-6 col-md-3 col-lg-2 mt-3">
      <div class="card">
        <div class="card-block">
          <img class="icon-achievement" src="https://firebasestorage.googleapis.com/v0/b/lyra-24b71.appspot.com/o/Achievement%2FSaveAch3BW.png?alt=media&token=529ef0f1-cfdd-4f83-a978-6398e5322b02">
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <br>
      <h6>Checklist Achievement</h6>
    </div>
  </div>
  <div class="row">
    <div class="col col-sm-6 col-md-3 col-lg-2 mt-3">
      <div class="card">
        <div class="card-block">
          <img class="icon-achievement" src="https://firebasestorage.googleapis.com/v0/b/lyra-24b71.appspot.com/o/Achievement%2FCheckAch1BW.png?alt=media&token=f87a435a-18d4-4a7e-b9a1-76a277799289">
        </div>
      </div>
    </div>
    <div class="col col-sm-6 col-md-3 col-lg-2 mt-3">
      <div class="card">
        <div class="card-block">
          <img class="icon-achievement" src="https://firebasestorage.googleapis.com/v0/b/lyra-24b71.appspot.com/o/Achievement%2FCheckAch2BW.png?alt=media&token=071b7f77-eacb-468d-b02e-4d9c855f3ec3">
        </div>
      </div>
    </div>
    <div class="col col-sm-6 col-md-3 col-lg-2 mt-3">
      <div class="card">
        <div class="card-block">
          <img class="icon-achievement" src="https://firebasestorage.googleapis.com/v0/b/lyra-24b71.appspot.com/o/Achievement%2FCheckAch3BW.png?alt=media&token=51b18db2-43d9-4fd5-b724-f36a85172147">
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <br>
      <h6>Step Achievement</h6>
    </div>
  </div>
  <div class="row">
    <div class="col col-sm-6 col-md-3 col-lg-2 mt-3">
      <div class="card">
        <div class="card-block">
          <img class="icon-achievement" src="https://firebasestorage.googleapis.com/v0/b/lyra-24b71.appspot.com/o/Achievement%2FStepAch1BW.png?alt=media&token=67ca6156-00be-4681-8b0b-195810f4f322">
        </div>
      </div>
    </div>
    <div class="col col-sm-6 col-md-3 col-lg-2 mt-3">
      <div class="card">
        <div class="card-block">
          <img class="icon-achievement" src="https://firebasestorage.googleapis.com/v0/b/lyra-24b71.appspot.com/o/Achievement%2FStepAch2BW.png?alt=media&token=187060ef-151e-4d0e-b78b-cd195bf862a0">
        </div>
      </div>
    </div>
    <div class="col col-sm-6 col-md-3 col-lg-2 mt-3">
      <div class="card">
        <div class="card-block">
          <img class="icon-achievement" src="https://firebasestorage.googleapis.com/v0/b/lyra-24b71.appspot.com/o/Achievement%2FStepAch3BW.png?alt=media&token=de7cc46d-40c9-40ed-9924-7e6bdd4ed78e">
        </div>
      </div>
    </div>
  </div>

  <div class="row">
            <div class="col-lg-12">
              <br>
              <h6>Routine Achievement</h6>
            </div>
          </div>
          <div class="row">
            <div class="col col-sm-6 col-md-3 col-lg-2 mt-3">
              <div class="card">
                <div class="card-block">
                  <img class="icon-achievement" src="https://firebasestorage.googleapis.com/v0/b/lyra-24b71.appspot.com/o/Achievement%2FRoutineAchBW1.png?alt=media&token=2b3fb9dc-8195-40aa-bfe0-eb6cab96ec70">
                </div>
              </div>
            </div>
            <div class="col col-sm-6 col-md-3 col-lg-2 mt-3">
              <div class="card">
                <div class="card-block">
                  <img class="icon-achievement" src="https://firebasestorage.googleapis.com/v0/b/lyra-24b71.appspot.com/o/Achievement%2FRoutineAchBW2.png?alt=media&token=afd68d49-bd8a-451f-8f5d-d8776d317fed">
                </div>
              </div>
            </div>
            <div class="col col-sm-6 col-md-3 col-lg-2 mt-3">
              <div class="card">
                <div class="card-block">
                  <img class="icon-achievement" src="https://firebasestorage.googleapis.com/v0/b/lyra-24b71.appspot.com/o/Achievement%2FRoutineAchBW3.png?alt=media&token=d23f7360-f894-4a11-9c14-a47fa89d6c39">
                </div>
              </div>
            </div>
          </div>

  <br>
</div>