  <app-menubar></app-menubar>
  <md-card>
    <md-card-title>
      <md-card-title-media>
      </md-card-title-media>
      <md-card-title-text>
      </md-card-title-text>
    </md-card-title>
  </md-card>
  <md-card layout-padding>
    <md-card-content>
      <div>
      <h2>เก็บเงินให้ได้ 2000 ภายใน 3 อาทิตย์</h2>
      <p>เนื่องจากอยากได้ไอเทมในเกม จึงต้องเก็บเงินให้ได้ 2000 บาท ภายใน 3 อาทิตย์ก่อนที่จะหมดโปรโมชั่น</p>
      <br><br>
      <p>วันหมดอายุของแชลเลนจ์ : <input type="text"></p>
      <p>จำนวนเงินที่ต้องเก็บ : <input type="text"></p>
      <button>เพิ่มเงินเก็บ</button>
      </div>
    </md-card-content>
  </md-card>