<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8" align="center">
      <h3>Select Category that You Interested.</h3>
    </div>
    <div class="col-lg-2"></div>
  </div>
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-4">
      <a [routerLink]="['/savingmoney']" routerLinkActive="active" class="card-link">
        <div class="card text-center animated zoomIn">
          <img class="card-img" src="https://firebasestorage.googleapis.com/v0/b/lyra-24b71.appspot.com/o/SavingMoneyCategory.png?alt=media&token=08110d5b-2825-4337-ba31-396fe59c8611"
            alt="Card image">
          <div class="card-img-overlay">
            <h4 class="card-title">Saving Money</h4>
          </div>
        </div>
      </a>
      <br>
    </div>
    <div class="col-lg-4">
      <div class="card text-center">
        <img class="card-img commingsoon animated zoomIn" src="https://firebasestorage.googleapis.com/v0/b/lyra-24b71.appspot.com/o/CookingCategory.png?alt=media&token=ddd02f0b-9eb2-4006-b85c-e148dc8752f2"
          alt="Card image">
        <div class="card-img-overlay">
          <h4 class="card-title">Cooking Skills</h4>
        </div>
      </div>
      <br>
    </div>
    <div class="col-lg-2"></div>
  </div>
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-4">
      <div class="card text-center">
        <img class="card-img commingsoon animated zoomIn" src="https://firebasestorage.googleapis.com/v0/b/lyra-24b71.appspot.com/o/ExerciseCategory.png?alt=media&token=0dac939e-11be-475d-897c-cc75f2bd62b8"
          alt="Card image">
        <div class="card-img-overlay">
          <h4 class="card-title">Exercising</h4>
        </div>
      </div>
      <br>
    </div>
    <div class="col-lg-4">
      <div class="card text-center">
        <img class="card-img commingsoon animated zoomIn" src="https://firebasestorage.googleapis.com/v0/b/lyra-24b71.appspot.com/o/ReadingCategory.png?alt=media&token=16b5ccf2-165b-46b5-93a4-d8fc343c4ee7"
          alt="Card image">
        <div class="card-img-overlay">
          <h4 class="card-title">Reading</h4>
        </div>
      </div>
    </div>
    <div class="col-lg-2"></div>
  </div>

  <!-- floating action button-->
  <a  type="button" [routerLink]="['/selectCategory']" class="btn btn-circle fixedbutton" role="button">
    <i class="fa fa-pencil fa-2x" aria-hidden="true"></i>
  </a>
</div>





<br><br><br>
<div id="carousel-example-1" class="carousel slide carousel-fade" data-ride="carousel" data-interval="false">
        <!--Indicators-->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-1" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-1" data-slide-to="1"></li>
            <li data-target="#carousel-example-1" data-slide-to="2"></li>
        </ol>
        <!--/.Indicators-->

        <!--Slides-->
        <div class="carousel-inner" role="listbox">

            <!--First slide-->
            <div class="carousel-item active">
                <!--Mask-->
                <div class="view hm-black-light">
                    
                </div>
                <!--/.Mask-->
            </div>
            <!--/.First slide-->

            <!--Second slide -->
            <div class="carousel-item">
                <!--Mask-->
                <div class="view hm-black-light">
                    
                </div>
                <!--/.Mask-->
            </div>
            <!--/.Second slide -->

            <!--Third slide-->
            <div class="carousel-item">
                <!--Mask-->
                <div class="view hm-black-light">
                    
                </div>
                <!--/.Mask-->
            </div>
            <!--/.Third slide-->
        </div>
        <!--/.Slides-->

        <!--Controls-->
        <a class="left carousel-control" href="#carousel-example-1" role="button" data-slide="prev">
            <span class="icon-prev" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-1" role="button" data-slide="next">
            <span class="icon-next" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
        <!--/.Controls-->
    </div>