<div class="container">
  <a routerLink='/savingmoney' routerLinkActive='active' class="card-link">
    <div class="card card-inverse card-primary mb-3 text-center">
      <div class="card-block">
        <blockquote class="card-blockquote">
          <p>Saving money</p>
        </blockquote>
      </div>
    </div>
  </a>
  <div class="card card-inverse card-success mb-3 text-center">
    <div class="card-block">
      <blockquote class="card-blockquote">
        <p>Cooking Skills</p>
      </blockquote>
    </div>
  </div>
  <div class="card card-inverse card-info mb-3 text-center">
    <div class="card-block">
      <blockquote class="card-blockquote">
        <p>Exercising</p>
      </blockquote>
    </div>
  </div>
  <div class="card card-inverse card-warning mb-3 text-center">
    <div class="card-block">
      <blockquote class="card-blockquote">
        <p>Reading</p>
      </blockquote>
    </div>
  </div>
  <!-- floating action button-->
  <div class="btn-group dropup floating" style="float:right">
    <button type="button" class="btn btn-info btn-fab btn-raised dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
      aria-expanded="false"><i class="material-icons">Create Challenge</i>
  </button>
    <ul class="dropdown-menu dropdown-menu-right">
      <p><li><a href="#" class="btn btn-danger btn-fab btn-raised">Reading</a></li>
      <p><li><a href="#" class="btn btn-danger btn-fab btn-raised">Exercising</a></li>
      <p><li><a href="#" class="btn btn-danger btn-fab btn-raised">Cooking skills</a></li>
      <p><li><a href="#" class="btn btn-danger btn-fab btn-raised">Saving money</a></li>
    </ul>
  </div>
  <br />
  <br>
</div>