.container{
    margin-top: 80px;
}
.card{
    height: 150px;
}
a:hover{
    text-decoration: none;
}
/* .bg{
    width: 100%;
    height: auto;
    background: linear-gradient(white,#eeeeee);
    position: absolute;
} */